<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/cook.css">
    <script src="https://kit.fontawesome.com/8df2c6e6d4.js" crossorigin="anonymous"></script>
    <title>COOK</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fas fa-home"></i>
                    <a href="#" class="button">home</a>
                </li>
                <li>
                    <i class="fas fa-address-card"></i>
                    <a href="#" class="button">profile</a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="#" class="button">favorites</a>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="#" class="button">dishes</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search">
                    </form>
                </div>
                <div class="username">
                     username <i class="fas fa-smile"></i>
                </div>
            </header>
            <section class="projects">
                <div id="home1">
                    <a href="#" class="button1">ADD YOUR PRODUCTS</a>
                </div>
                <div id="home2">
                    <a href="#" class="button2">ALLERGIC TO</a>
                </div>
                <div id="home3">
                    <a href="#" class="button3">TYPE OF MEAL</a>
                </div>
                <div id="home4">
                    <a href="#" class="button4">CALORIES</a>
                </div>
                <div id="home5">
                    <a href="#" class="button5">+</a>
                </div>
                <div id="home6">
                    <a href="#" class="button6">+</a>
                </div>
                <div id="home7">
                    <a href="#" class="button7">+</a>
                </div>
                <div id="home8">
                    <a href="#" class="button8">+</a>
                </div>
                <div id="home9">
                    <a href="#" class="button9">FIND A RECIPE</a>
                </div>
            </section>
        </main>
    </div>
</body>