<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/cook.css">
    <script src="https://kit.fontawesome.com/8df2c6e6d4.js" crossorigin="anonymous"></script>
    <title>COOK</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <div class="logo2">
                <img src="../img/logo.svg">
            </div>
            <ul>
                <li>
                    <i class="fas fa-home"></i>
                    <a href="first.html" class="button">home</a>
                </li>
                <li>
                    <i class="fas fa-address-card"></i>
                    <a href="#" class="button">profile</a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="#" class="button">favorites</a>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="#" class="button">dishes</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search">
                    </form>
                </div>
                <div class="username">
                     username <i class="fas fa-smile"></i>
                </div>
            </header>
            <section>
                    <a class="buttons">ADD YOUR PRODUCTS</a>
                    <a class="buttons">ALLERGIC TO</a>
                    <a class="buttons">TYPE OF MEAL</a>
                    <a class="buttons">CALORIES</a>
                    <a href="#" class="buttons b1">+</a>
                    <a href="#" class="buttons b1">+</a>
                    <a href="#" class="buttons b1">+</a>
                    <a href="#" class="buttons b1">+</a>
                    <a href="#" class="buttons button1">FIND A RECIPE</a>
            </section>
        </main>
    </div>
</body>