<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/first.css">
    <script src="https://kit.fontawesome.com/8df2c6e6d4.js" crossorigin="anonymous"></script>
    <title>FIRST</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <div class="logo2">
                <img src="../img/logo.svg">
            </div>
            <ul>
                <li>
                    <i class="fas fa-home"></i>
                    <a href="first.html" class="button">home</a>
                </li>
                <li>
                    <i class="fas fa-address-card"></i>
                    <a href="#" class="button">profile</a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="#" class="button">favorites</a>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="#" class="button">dishes</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search">
                    </form>
                </div>
                <div class="username">
                     username <i class="fas fa-smile"></i>
                </div>
            </header>
            <section>
                    <a href="cook.html" class="buttons button1">WHAT TO COOK</a>
                    <a href="recipes.html" class="buttons button2">RECIPES</a>
                    <a href="share.html" class="buttons button3">SHARE</a>
            </section>
        </main>
    </div>
</body>

