<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/project.css">
    <script src="https://kit.fontawesome.com/8df2c6e6d4.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fas fa-home"></i>
                    <a href="#" class="button">home</a>
                </li>
                <li>
                    <i class="fas fa-address-card"></i>
                    <a href="#" class="button">profile</a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="#" class="button">favorites</a>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="#" class="button">dishes</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search">
                    </form>
                </div>
                <div class="username">
                     username <i class="fas fa-smile"></i>
                </div>
            </header>
            <section class="projects">
                <div id="home1">
                    <img src="../img/whatToCook.jpg">
                </div>
                <div id="home2">
                    <img src="../img/recipes.jpg">
                </div>
                <div id="home3">
                    <img src="../img/share.jpg">
                </div>
            </section>
        </main>
    </div>
</body>