<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/recipes.css">
    <script src="https://kit.fontawesome.com/8df2c6e6d4.js" crossorigin="anonymous"></script>
    <title>RECIPES</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <div class="logo2">
                <img src="../img/logo.svg">
            </div>
            <ul>
                <li>
                    <i class="fas fa-home"></i>
                    <a href="first.html" class="button">home</a>
                </li>
                <li>
                    <i class="fas fa-address-card"></i>
                    <a href="#" class="button">profile</a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="#" class="button">favorites</a>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="#" class="button">dishes</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search">
                    </form>
                </div>
                <div class="username">
                     username <i class="fas fa-smile"></i>
                </div>
            </header>
            <section>
                    <a href="#" class="buttons">POPULAR</a>
                    <a href="#" class="buttons">BREAKFASTS</a>
                    <a href="#" class="buttons">DINNERS</a>
                    <a href="#" class="buttons">SHOW MORE</a>
                    <a href="#" class="b1 button1"></a>
                    <a href="#" class="b1 button2"></a>
                    <a href="#" class="b1 button3"></a>
                    <a href="#" class="b1 button4"></a>
                    <a href="#" class="b2">STUFFED GOOSE</a>
                    <a href="#" class="b2">RICE WITH MUSHROOMS</a>
                    <a href="#" class="b2">WILD BOAR STEAK</a>
                    <a href="#" class="b2">MEATBALLS WITH POTATOES</a>
            </section>
        </main>
    </div>
</body>