<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/share.css">
    <script src="https://kit.fontawesome.com/8df2c6e6d4.js" crossorigin="anonymous"></script>
    <title>SHARE</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <div class="logo2">
                <img src="../img/logo.svg">
            </div>
            <ul>
                <li>
                    <i class="fas fa-home"></i>
                    <a href="first.html" class="button">home</a>
                </li>
                <li>
                    <i class="fas fa-address-card"></i>
                    <a href="#" class="button">profile</a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="#" class="button">favorites</a>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="#" class="button">dishes</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search">
                    </form>
                </div>
                <div class="username">
                     username <i class="fas fa-smile"></i>
                </div>
            </header>
            <section>
                <a href="#" class="buttons">ADD A POST</a>
                <a href="#" class="buttons">MASTERSCHEFS</a>
                <a href="#" class="buttons">FIND FRIENDS</a>
                <div class="blog">
                    <input placeholder="Write a post...">
                    <a href="#" class="posts">I have been doing keto now for over a year. Well, I mean, I did have some breaks in between because 
                        I can never seem to resist carbs, but I always go back on the keto train and this keto cheesecake is what let me keep calm 
                        and keto on for so long. It has no crust, no water bath, no xanthan gum...</a>
                    <a href="#" class="posts">Hello! I’m back at it again with a recipe for Tiktok ramen.
                         I’m pretty sure I’m addicted to Tiktok and all the viral food hacks they have – I’m HOOKED. 
                        This Tiktok ramen was too easy to not try. Plus, I had all the ingredients in the pantry so it made for a quick and satisfying lunch. 
                        It was delicious!...</a>
                    <a href="#" class="posts">Twisted bacon is everywhere, it’s taking over the internet. JK it’s not really but it is having its moment in the sun. 
                        Twisted bacon is soft and crispy while somehow staying juicy. It’s a Tiktok trend and it’s super easy to make. Plus, who doesn’t love bacon?...</a>
                    <a href="#" class="posts">There’s no denying it: a round egg is perfect for breakfast sandwiches (and so much more!).
                        For some reason all the best breakfast sandwich breads are round: English muffins, bagels, soft and fluffy brioche buns, waffles, donuts, wonuts, 
                        the list goes on...</a>
                    <a href="#" class="posts">If you’re looking for the creamy mac and cheese of your childhood, this is it! Homemade Velveeta cheese sauce with tender mac is 
                        what mac and cheese dreams are made of. These days we have fancy mac and cheese with gruyere and breadcrumbs and all that, but do you ever 
                        dream of just easy plain mac and cheese, like the box kind, but without the powdered 
                        cheese and that mushy pasta? Enter this Velveeta mac and cheese...</a>
                    <a href="#" class="posts">Hot chocolate bombs or hot cocoa bombs are cute lil balls of chocolate that you put into a mug. When you pour hot milk into the mug, 
                        the chocolate melts and magically releases the marshmallows and cocoa hiding inside.
                        It’s super cute and fun and you can make SO many flavor variations! They sell hot chocolate bombs/hot chocolate balls at the store, but around 
                        here I haven’t seen any so I decided to make my own. You can too!...</a>
                </div>
            </section>
        </main>
    </div>
</body>