section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.projects>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 1em 1em;
}

.projects>div {
    border: 1px solid gold
    border-radius: 1em 1em 1em 1em;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}